/ArithmeticOperator.class
/AssignmentIncDecOperator.class
/BitOperator.class
/CircleArea.class
/CoffeePrice.class
/Grading.class
/GradingSwitch.class
/Hello.class
/LogicalOperator.class
/MultipleOfThree.class
/NestedIf.class
/ScannerEx.class
/SuccessOrFail.class
/TernaryOperator.class
/TypeConversion.class
